/home/serg/fastapi/bin/**
/home/serg/fastapi/fastapi-jwt/**
/home/serg/fastapiinclude/**
/home/serg/fastapi/lib/**
/home/serg/fastapi/lib64/**
/home/serg/fastapi/__pycache__/**
/home/serg/fastapi/share/**